.toDoList {
    padding: 0 0 20px 0;
}

.comletedList {
    padding: 20px 0;
}

.completed md-checkbox {
    text-decoration: line-through;
}

.btn-edit {
    width: 20px;
    height: 20px;

    margin: 0 0 0 10px;

    line-height: 20px;
}

.input-wide {
    width: 100%;
}