<div class="to-do-app">

  <div class="app-header">
    <h1 class="mat-display-1">
      To do list:
    </h1>
  </div>

  <div class="input">
    <md-input-container class="input-wide">
      <input
              placeholder="What do you want to do?"
              mdInput
              [(ngModel)]="newToDo.title"
              (keyup.enter)="addToDo()">
    </md-input-container>
  </div>

  <md-list *ngIf="toDoList.length" class="toDoList">
    <md-list-item *ngFor="let item of toDoList"
                  fxLayout="column"
                  fxLayoutAlign="start left"
                  fxLayoutGap="4"
                  [ngClass]="{'completed': item.completed}">

      <md-checkbox fxFlex="90"
                   [checked]="item.completed"
                   (change)="complete(item)">
        {{item.title}}
      </md-checkbox>

      <i class="material-icons md-18"
         fxFlex="10"
         fxFlexAlign="start right"
         (click)="edit(item)">edit</i>
    </md-list-item>
  </md-list>

  <button md-button (click)="archiveCompleted()" [disabled]="!hasNotArchivedCompleted">
    Archive Completed
  </button>

  <md-list *ngIf="completedList.length" class="completedList">
    <md-list-item *ngFor="let item of completedList"
                  fxLayout="column"
                  fxLayoutAlign="start left"
                  fxLayoutGap="4"
                  [ngClass]="{'completed': item.completed}">

      <md-checkbox fxFlex="90"
                   [checked]="item.completed"
                   (change)="unarchive(item)">
        {{item.title}}
      </md-checkbox>

      <i class="material-icons md-18"
         fxFlex="10"
         fxFlexAlign="start right"
         (click)="edit(item)">edit</i>
    </md-list-item>
  </md-list>

</div>